body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#results {
    margin-top: 20px;
}

.search-result {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

.tool-name {
    font-weight: bold;
}

.tool-location {
    font-size: 18px;
    font-weight: bold;
}

.tool-details {
    font-size: 14px;
    color: #666;
}

.show-all {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}
